<!DOCTYPE html>

<html xmlns:th="http://thymeLeafe.org">

<head th:replace="layouts :: header"></head>

<body>
	<!-- This allows you to do a layout that can be reused on the different html pages -->
	<nav th:replace="layouts :: navBar"></nav>

	<div class="container">
		<h3>Projects Directory</h3>
		<a th:href="@{/projects/new}" class="btn btn-primary btn-sm mb-3">
			Add Project </a>
		<table class="table table-bordered table=striped">
			<thead class="thead-dark">
				<tr>
					<th>Project Name</th>
					<th>Progress</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="aProject : ${projectsList}">
					<td th:text="${aProject.name}">
					<td th:text="${aProject.progress}">
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>